<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>59514933062-2f9r8gu6j6qb0isf5eojmsokm05uldll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59514933062-2f9r8gu6j6qb0isf5eojmsokm05uldll</string>
	<key>API_KEY</key>
	<string>AIzaSyBJoJOXjIoJ9m1PSs5IyWj8ht-uu1W-u30</string>
	<key>GCM_SENDER_ID</key>
	<string>59514933062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Burst.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-e4772</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-e4772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:59514933062:ios:11b9aeae5ba1b69d</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-clone-e4772.firebaseio.com</string>
</dict>
</plist>